<!--タスク一覧をつくる-->
<h1>タスク一覧</h1>

<ul>
  <!--
  app/controllers/messages_controller.rbに設定したindexアクションで作成したmessages変数を取り出して
  リストで表示する
  -->
  <% @tasks.each do |task| %>
  <!--link_toはrailsが提供するめそっとで表示文字、リンク先-->
    <li><%= link_to task.id, task %> : <%= task.content %></li>
  <% end %>
  
</ul>
<%= link_to '新規タスクの登録', new_task_path %>