<!--タスクの登録ページ-->
<h1>タスク登録ページ</h1>


<!--form_withでフォームを作成-->
<%#= form_with(model: @task ) do |f| %>

  <%#= f.label :content, 'タスク' %>
<!--contentsに紐づくテキストエリア-->
  <%#= f.text_field :content %>

<!---->
  <%#= f.submit '登録' %>
<%# end %>

<%= render 'form', task: @task %>
<!--massages_pathはindexへもどる-->
<%= link_to '一覧に戻る', tasks_path %>