<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
   <div class="row">
    <!--
    <aside class="col-sm-4">
      <%#= form_with(model: @task) do |f| %>
        <div class="mb-3">
          status:<br>
          <%#= f.text_area :status, class: 'form-control', rows: 1 %>
           task:<br>
           <%#= f.text_area :content, class: 'form-control', rows: 5 %>
          
        </div>
        <%#= f.submit '登録', class: 'btn btn-primary w-100' %>
      <%# end %>
    </aside>
    -->
    <div class="col-sm-8">
      <%= render 'tasks/tasks', tasks: @tasks %><!--_tasks.htmlにとんでいる-->

    </div>
  </div>
  
  
<% else %>


  <div class="bg-secondary p-3 p-sm-5 my-4 rounded">
    <div class="text-center text-white">
      <h1>Welcome to the Tasklist</h1>
      <%= link_to 'Sign up now!',root_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>
